* {
  margin: 0;
  padding: 0;
}

html,
body,
body > div {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contentEditor {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 10px;
  color: #444;
  background: white;
  margin-top: 18px;

  img {
    max-width: 100%;
  }
}

.edit-title {
  color: #595959;
  font-size: 15px;
  border-left: #3590ff solid 3px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  background: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.am-card-body {
  padding: 0px !important;
}

.am-card-header {
  font-size: 16px !important;
  border-top: #3590ff solid 2px;
}

.submit {
  padding: 10px 10px 0 10px;
  background: white;
  z-index: -100;
  margin-bottom: 10px;
}


.Eleditor-controller{
  z-index: 1000;
}

.Eleditor-delete-layer{
  z-index: 999;
}

.am-card-full{
  height:  auto; 
}

.pic{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-bottom: #3590ff solid 2px;

  .pic-label{
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    color: #000;
  }
}